body {
    background: #ffffff;
    margin-left: 0;
    padding: 0;
}

aside .buttons {
    position: absolute;
    padding-left: 100%;
    display: flex;
    justify-content: space-around;
    border: black;
    margin-left: 3px;
    gap: 2px;
    flex: 1;
}

aside .buttons button {
    border: 1px solid #ffae00;
    text-align: center;
    width: 13.7vw;
}

aside {
    position: fixed;
    top: 60px;
    left: 0;
    float: left;
    background: #ffffff;
    width: 17%;
    height: calc(100vh - 60px);
    color: #000000;
    border-right: 0.2vw solid rgba(108, 108, 108, 0.82);
}

aside h2 {
    color: #000000;
    font-size: 10vw;
    position: relative;
    left: 3.4vw;
    top: 2.7vw;
}

aside .logo {
    font-size: 3vw;
    margin-left: 4.3vw;
    font-weight: lighter;
    position: relative;
    top: 7vh;
    left: -2.3vw;
    font-family: "Roboto Light";
}

aside h4 {
    color: rgba(0, 0, 0, 0.59);
    margin-top: 13vh;
    margin-left: 3.2vw;
    font-size: 2vw;
}

aside ul {
    list-style: none
}

aside ul li {
    color: #5c5c01;
    display: block;
    margin-top: 6vh;
    margin-left: 2vw;
    font-size: 1.3vw;
    transition: transform .2s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #dfcf35;
    text-decoration: none;
    transform: scale(1.03);
}

aside ul a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 60px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

main {
    margin-left: 17%;
    padding-top: 70px;
}

main .features {
    float: left;
    color: #000000;
    margin-top: 70px;
    text-align: center;
    width: 75%;
    margin-left: 20%;
}

main .features h1 {
    font-size: 50px;
    margin-left: -17%;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.alert-warning {
    float: left;
    clear: both;
    width: 70vw;
    margin-left: -10.5vw;
    text-align: center;
}

form {
    margin-left: -8vw;
    margin-top: 5vw;
    width: 65vw;
}